{{define "title"}}Home{{end}}

{{define "main"}}
    <h2 style="display: inline-block;">Latest Stock Items</h2>
    <h2 style="display: inline-block;"><a href="/">+</a></h2>
    {{if .StockItems}}
    <table>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Added</th>
            <th>ID</th>
        </tr>
        {{range .StockItems}}
        <tr>
            <td><a href="/stockItem/view?id={{.ID}}">{{.Title}}</a></td>
            <td>{{.Artist}}</td>
            <td>{{.Created}}</td>
            <td>{{.ID}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>No entries found.</p>
    {{end}}
{{end}}