{{define "title"}}StockItem #{{.StockItem.ID}}{{end}}

{{define "main"}}
    <div class="stockItem">
        <div class="metadata">
            <strong>{{.StockItem.Title}}</strong>
            <span>SN: {{.StockItem.ID}}</span>
        </div>
        <div class="metadata">
            <strong>{{.StockItem.Artist}}</strong>
        </div>
        <pre><code>{{.StockItem.TrackListing}}</code></pre>
        <div class="metadata">
            <time>Added: {{.StockItem.Created}}</time>
            <time>Expires: {{.StockItem.Expires}}</time>
        </div>
    </div>
{{end}}