{{define "title"}}StockItem #{{.StockItem.ID}}{{end}}

{{define "main"}}
    {{with .StockItem}}
    <div class="stockItem">
        <div class="metadata">
            <strong>{{.Title}}</strong>
            <span>SN: {{.ID}}</span>
        </div>
        <div class="metadata">
            <strong>{{.Artist}}</strong>
        </div>
        <pre><code>{{.TrackListing}}</code></pre>
        <div class="metadata">
            <time>Added: {{.Created}}</time>
            <time>Expires: {{.Expires}}</time>
        </div>
    </div>
    {{end}}
{{end}}