{{define "base"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{template "title" .}} - turboPay</title>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <header>
            <h1><a href="/"><img src="../static/img/turbopay_logo.png" alt="turboPay logo" class="center"></a></h1>
        </header>
        {{template "nav" .}}
        <main>
            {{template "main" .}}
        </main>
        <footer><img src="../static/img/golang_gopher.png">Powered by <a href="https://golang.org/">Go</a></footer>
        <script src="/static/js/main.js" type="text/javascript"></script>
    </body>
</html>
{{end}}