header {
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: x-large;
    border-color: black;
    text-align: center;
}